<body>
  <!--INICIO MENU -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/logo.png" width="170" height="70" loading="lazy">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#servicios">Servicios<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <!-- routerLink="/editar-cliente"-->
          <a class="nav-link" href="#ofertas">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#consejos">Consejos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#acercade">Acerca de</a>
        </li>
        <li class="nav-item" *ngIf="!authService.userData">
          <a class="nav-link" routerLink="/sign-in">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--FIN MENU -->
  <div class="container-fluid" id="header">
    <div class="row bg-vet">
      <div class="col-lg-8">
        <div class="fondo mr-5"></div>
      </div>
      <div class="col-lg-4 my-auto">
        <div class="parrafo">
          <p>Emergencia?<br>
            2265-7895</p>
        </div>
      </div>
    </div>
  </div>
  <div class="registro">
    <div class="contenido">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row my-5">
              <div class="mx-auto">
                <h3 class="mb-0 text-white display-3">Reiniciar contraseña</h3>
              </div>
              <div class="col-md-6 mx-auto my-5">
                <div class="rounded-0">                
                  <div class="displayTable">
                    <div class="displayTableCell">
                      <div class="authBlock">
                        <p class="text-white h5">Por favor ingrese su dirección de correo para enviar una peticion de reinicio de contraseña</p>
                        <div class="form-group input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"
                                aria-hidden="true"></i></span>
                          </div>
                          <input type="email" class="form-control" placeholder="Correo" #passwordResetEmail
                            required>
                        </div>
                        <!-- Calling ForgotPassword from AuthService Api -->
                        <div class="formGroup">
                          <input type="submit" class="btn btn-reg btn-lg btn-block" value="Reiniciar contraseña"
                            (click)="authService.ForgotPassword(passwordResetEmail.value)">
                        </div>
                      </div>

                      <div class="redirectToLogin">
                        <span class="text-white">¿Quieres regresar? <span class="redirect" routerLink="/sign-in"><a>Iniciar sesión</a></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>